<header>
    <nav class="navigation">
        <a class="logo" disabled><span>Dream</span>Place</a>

    </nav>
  </header>


<div class="background-image" style="background-image: url('assets/lasVegas.jpg');"></div>
<section class="formulario">
    <div class="container">
        <form  class="container__form">
            <h1 class="form__titulo">UPDATE Reserva</h1>
            <h2 class="form__subtitulo">Dados do Hóspede:</h2>
            <div class="container__input">
                <div class="form-group">
                    <label for="nome" class="input__titulo">Nome Completo</label>
                    <input [(ngModel)]="reserva.nome" name="nome" type="text" id="nome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email" class="input__titulo">Email</label>
                    <input [(ngModel)]="reserva.email" name="email" type="email" id="email" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="telefone" class="input__titulo">Telefone</label>
                    <input [(ngModel)]="reserva.numero" name="numero" type="text" id="telefone" class="form-control" required>
                </div>

            </div>

            <h2 class="form__subtitulo">Detalhes da Reserva:</h2>
            <div class="container__input">
                <div class="form-group">
                    <label for="checkIn" class="input__titulo">Check-in</label>
                    <input [(ngModel)]="reserva.checkIn" name="checkIn" type="date" id="checkIn" class="form-control input__data" required>
                </div>
                <div class="form-group">
                    <label for="checkOut" class="input__titulo">Check-out</label>
                    <input [(ngModel)]="reserva.checkOut" name="checkOut" type="date" id="checkOut" class="form-control input__data" required>
                </div>
                <div class="form-group">
                    <label for="quarto" class="input__titulo">Tipo de Quarto</label>
                    <select [(ngModel)]="reserva.quarto" name="quarto" id="quarto" class="form-control input__select">
                        <option value="individual">Individual</option>
                        <option value="duplo">Duplo</option>
                        <option value="suíte">Suíte</option>
                    </select>
                </div>
            </div>

            <h2 class="form__subtitulo">Informações de Pagamento:</h2>
            <div class="container__input">
                <div class="form-group">
                    <label for="pagamento" class="input__titulo">Tipo de Pagamento</label>
                    <p class="subtitulo">* O pagamento será realizado no hotel.</p>
                    <select [(ngModel)]="reserva.pagamento" name="pagamento" id="pagamento" class="form-control input__select">
                        <option value="credito">Crédito</option>
                        <option value="debito">Débito</option>
                        <option value="pix">Pix</option>
                        <option value="dinheiro">Dinheiro</option>
                    </select>
                </div>
            </div>

            <button (click)="update(usuarioId)"  type="submit" class="form__button" >Enviar</button>
            <button (click)="cancelar()"  type="submit" class="form__button" >Cancelar</button>
        </form>
        
    </div>
</section>
