<app-header-user></app-header-user>
<div class="caixa">
    <form action="#" method="POST">
        <div class="pfp">
            <input type="file" class="camera">
            <img src="./assets/pfp.png" alt="Foto de Perfil" width="205" height="202">
        </div>
        <div class="informaUser">
            <div class="Input">
                <span class="detalhes">Nome</span>
                <input type="text" id="nome" name="nome" placeholder="Nome" required>
            </div>
            <div class="Input">
                <span class="detalhes">Email</span>
                <input type="email" id="email" name="email" placeholder="exemplo@gmail.com" required>
            </div>
            <div class="Input">
                <span class="detalhes">Senha</span>
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
            </div>
            <div class="Input">
                <span class="detalhes">Confirmar Senha</span>
                <input type="password" id="ConfSenha" name="ConfSenha" placeholder="Confirmar Senha" required>
            </div>
            <div class="Input">
                <span class="detalhes">CPF</span>
                <input type="text" id="cpf" name="cpf" placeholder="CPF" required>
            </div>
            <div class="Input">
                <span class="detalhes">Número</span>
                <input type="text" id="numero" name="numero" placeholder="xxxxx-xxxx" required>
            </div>
            <div class="button">
                <input type="submit" id="botao" value="Confirmar">
            </div>
        </div>
    </form>
</div>
