
<section id="container" >
    <nav class="navbar h-100" style="background-color: #0fd488;">
        <div class="container-fluid">
            <a class="navbar-brand">Dream Spires</a>           
            <a class="nav-link" href="/menu">Home</a>                             
                <div class="d-grid gap-3 d-md-block">
                    <button class="btn btn-primary" type="button" routerLink="/login">Login</button>
                    <button class="btn btn-primary" type="button" routerLink="/cadastro">Cadastro</button>
                </div>
            
        
            </div>
       

    </nav>
    
        
    

</section>
