@import "~bootstrap/dist/css/bootstrap.css";


.button-container {
    margin-top: 10px;
  }
  
  .button-container .btn {
    margin-right: 10rem;
  }
  .nav-link{
    margin-left: 65rem;
  
  }
  .btn-primary{
    margin-left: 10px;
  }
  .container{
    margin-top: 5rem;
    margin-left: -10rem;
    background-color: aquamarine;
  }
  *{
    margin-left: -0.2rem;
    top: -0.4rem;
    margin-right: -0.3rem;
  }