<app-header-user></app-header-user>

<section class="areas-hotel">
  <h2>Áreas do Hotel</h2>
  
  <div class="subgrupo">
      <h3>Piscina</h3>
      <div class="subgrupo-content">
          <div class="subgrupo-img">
              <img src="assets/hotelpiscina.jpg" alt="Piscina do Hotel">
          </div>
          <p>Nossa piscina é o lugar perfeito para relaxar e se refrescar durante a sua estadia. Com água cristalina e uma vista deslumbrante, você pode desfrutar de momentos de tranquilidade ou se divertir com amigos e familiares. Nossa piscina é mantida impecavelmente e oferece o cenário perfeito para um dia ensolarado ou um mergulho noturno sob as estrelas.</p>
      </div>
  </div>

  <div class="subgrupo">
      <h3>Praça de Alimentação</h3>
      <div class="subgrupo-content">
          <div class="subgrupo-img">
              <img src="assets/hotelalimentacao.jpg" alt="Praça de Alimentação do Hotel">
          </div>
          <p>Nossa praça de alimentação oferece uma ampla variedade de opções culinárias, desde pratos tradicionais da região até cozinha internacional. Desfrute de refeições deliciosas em um ambiente aconchegante e elegante.</p>
      </div>
  </div>

  <div class="subgrupo">
      <h3>Sala de Jogos</h3>
      <div class="subgrupo-content">
          <div class="subgrupo-img">
              <img src="assets/hoteljogos.jpg" alt="Sala de Jogos do Hotel">
          </div>
          <p>Nossa sala de jogos é equipada com uma variedade de opções de entretenimento, incluindo jogos de tabuleiro, fliperama e muito mais. É o local ideal para se divertir com amigos e familiares em dias de descanso.</p>
      </div>
  </div>

  <div class="subgrupo">
      <h3>Spa</h3>
      <div class="subgrupo-content">
          <div class="subgrupo-img">
              <img src="assets/hotelspa.jpg" alt="Spa do Hotel">
          </div>
          <p>O nosso spa oferece uma experiência de relaxamento e rejuvenescimento. Desfrute de tratamentos de beleza, massagens terapêuticas e momentos de tranquilidade em um ambiente sereno e luxuoso.</p>
      </div>
  </div>
</section>
