.container__home{
    align-items: center;
    text-align: center;
    
}

.container__content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__descricao{
    margin-top: 6em;
}

.container__buttons{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.container__buttons__a{
    padding: 1em;
    background-color: #FF731D;
    border-radius: 7px;
    margin-bottom: 1em;
    text-decoration: none;
    color: #0d0e55;
    width: 70%;
}

.container__buttons__a:hover{
    background-color: #ac521a;
}