<app-header-user></app-header-user>


<section class="container secundario">
    <div class="container__descricao">  
        <p class="container__descricao__texto">Faça sua reserva em um dos melhores hoteis do Brasil!</p>
        <a routerLink="/reserva" class="container__botao botao_secundario">Fazer reserva</a>
    </div>
    <img src="/assets/saguaoHotel.png" alt="era pra ter uma imagem aqui" class="secundario__img">
</section>

<section class="container secundario">
    <img src="/assets/avaliar.png" alt="homem avaliando" class="secundario__img">
    <div class="container__descricao">
        <h2 class="container__descricao__titulo">
            Avalie nosso serviço!
        </h2> 
        <a href="/avaliar">Avalie aqui!</a>
    </div>
</section>

<section class="container secundario">
    <div class="container__descricao">
        <p class="container__descricao__texto">Só a DreamPlace oferece serviço e estrutura de qualidade!</p>
        <a routerLink="/gerenciar" class="container__botao secundario__botao">Gerencie suas reservas</a>
    </div>
    <img src="/assets/gerenciar.png" alt="hotel" class="secundario__img">
</section>

<section class="container secundario">
    <img src="/assets/perfil.png" alt="menina tirando ft">
    <div class="container__descricao">
        <h2 class="container__descricao__titulo">
            Atualize seu perfil!
        </h2>
        <p class="container__descricao__texto">
            Assim teremos seus dados sempre seguros e atualizados!
        </p>
    </div>
</section>

<section class="dispositivos">
    <h2 class="dispositivos__titulo">Estamos ansiosos para partilhar de bons momentos com você!</h2>
</section>
