<app-header-user></app-header-user>


<section class="container__home">
    <div class="container__content">
        <div class="container__descricao">  
            <h1>DREAMPLACE</h1>
            <p class="">Faça sua reserva em um dos melhores hoteis do Brasil!</p>
        </div>
        <div class="container__buttons">
            <a routerLink="/reserva" class="container__buttons__a">Fazer reserva</a>
            <a routerLink="/perfil" class="container__buttons__a">Perfil</a>
            <a routerLink="/avaliar" class="container__buttons__a">Avaliar</a>
            <a routerLink="/gerenciar" class="container__buttons__a">Gerenciar</a> 
        </div>
    </div>
</section>
