* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.areas-hotel {
  text-align: center;
  padding: 20px 0;
}

.areas-hotel h2 {
  font-size: 2rem;
  color: #1746A2;
  margin-bottom: 20px;
}

.subgrupo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.subgrupo {
  padding: 20px;
  background: #FFF;
  border: 2.5px solid #ccc;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.subgrupo h3 {
  font-size: 1.5rem;
  color: #1746A2;
  margin-bottom: 20px;
}

.subgrupo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subgrupo-img img {
  width: 70%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  margin-top: 20px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0px;
  box-shadow: 0 0.1rem 0.5rem #CCC;
  width: 100%;
  background: #FFF7E9;
  transition: all 0.5s;
}

.navigation .logo {
  color: #1746A2;
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.5s;
}

.logo span {
  color: #5F9DF7;
}

.navigation .logo:hover {
  font-size: 1.8rem;
  font-weight: 700;
}

.navigation ul{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navigation ul li a {
  color: black;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation ul li a:hover {
  color: #5F9DF7;
  font-size: 20px;
}
