<app-header-user></app-header-user>
<section class="formulario">
    <div class="container">
        <form action="" class="container__form">

            <h1>Avaliar</h1>
            <h2>Dados do Hospede: </h2>

            <div class="container__input">
                <p class="input__titulo">Nome Completo</p>
                <input type="text" class="container__input__area">
                <p class="input__titulo">Email</p>
                <input type="email" class="container__input__area">
                <p class="input__titulo">Telefone</p>
                <input type="text" class="container__input__area">
                <p class="input__titulo">Nota</p>
                <p></p>
                <select id="quarto" class="container__input__area input__select">
                    <option value="1" class="select__opcao">1</option>
                    <option value="2" class="select__opcao">2</option>
                    <option value="3" class="select__opcao">3</option>
                    <option value="4" class="select__opcao">4</option>
                    <option value="5" class="select__opcao">5</option>
                </select>
            </div>

            <button type="submmit" class="form__button">Enviar</button>
    </form>  
    </div>
</section>