<header>
    <nav class="navigation">
        <a href="#" class="logo"><span>Dream</span>Place</a>
        <ul class="links">
            <li class="nav-item"><a routerLink="/homeUser">Home</a></li>
            <li class="nav-item"><a routerLink="/perfil">Perfil</a></li>
            <li class="nav-item"><a routerLink="/reserva">Reserva</a></li>
            <li class="nav-item"><a routerLink="/avaliar">Avaliar</a></li>
            <li class="nav-item"><a routerLink="/menu">Sair</a></li>
            <li class="nav-item"><a routerLink="/gerenciar">Gerenciar</a></li>
        </ul>
    </nav>
</header>