
            
<header>
<section id="container">
    <nav class="navbar h-50" style="background-color: #0fd488;">
        <div class="container-fluid">
            <a class="navbar-brand">Dream Spires</a>
            <a class="nav-item" routerLink="/homeUser">Home</a>
            <a class="nav-item" routerLink="/perfil">Perfil</a>
            <a class="nav-item" routerLink="/reserva">Reserva</a>
            <a class="nav-item" routerLink="/avaliar">Avaliar</a>
            <a class="nav-item" routerLink="/menu">Sair</a>
            <a class="nav-item" routerLink="/gerenciar">Gerenciar</a>
        </div>
    </nav>
</section>  
</header>             
            
        

       

    

    