<header>
    <nav class="navigation">
        <a href="#" class="logo"><span>Dream</span>Spires</a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/homeUser">Home</a></li>
            <li class="nav-item"><a href="/perfil">Perfil</a></li>
            <li class="nav-item"><a href="/reserva">Reserva</a></li>
            <li class="nav-item"><a href="/avaliar">Avaliar</a></li>
            <li class="nav-item"><a href="/menu">Sair</a></li>
            <li class="nav-item"><a href="/gerenciar">Gerenciar</a></li>
        </ul>
    </nav>
</header>

       

    

    