@import "~bootstrap/dist/css/bootstrap.css";
 


  img{
    margin-left: 50rem;
    margin-top: -25.5rem; 
    width: 45rem;
    height: 35rem;
   
  }
.form {
    width: 320px;
    margin: 45px auto;
    font-size: 15px;
    margin-top: 5rem;
}