<app-header></app-header>
<section class="formulario">
    <div class="container">
        <form action="" class="container__form">
            <h1>Login</h1>
            <div class="container__input">
                <p class="input__titulo">Nome Completo</p>
                <input type="text" class="container__input__area" placeholder="nome completo">
                <p class="input__titulo">Email</p>
                <input type="email" class="container__input__area" placeholder="email">
                <p class="input__titulo">Senha</p>
                <input type="text" class="container__input__area" placeholder="***********">
                <p class="input__titulo">Confirme a senha</p>
                <input type="text" class="container__input__area" placeholder="***********">
                
            </div>

            <button routerLink="/homeUser" type="submmit" class="botao">entrar</button>
    </form>  
    </div>
</section><p>login works!</p>
