<app-header></app-header>

<section class="home">
    <div class="home-text">
        <h4 class="text-h4">Bem vindo ao DreamSpires</h4>
        <h2 class="text-h2">O seu refúgio dos sonhos</h2>
        <p>Bem-vindo ao nosso hotel encantador, onde você encontrará uma variedade de experiências inesquecíveis. Explore os encantos da região com nossos diversos passeios, desfrute do conforto e estilo dos nossos quartos exclusivos e saboreie um cardápio completo que satisfará todos os seus desejos culinários. Prepare-se para uma estadia extraordinária onde cada momento será uma verdadeira celebração dos sentidos.</p>
        <a href="#" class="home-btn">Pacotes</a>
    </div>
    <div class="home-img">
        <img src="assets/hotel-home.jpeg" alt="foto do hotel">
    </div>
</section>

<section class="pacotes">
    <hr>
    <h2 class="pct-text">Conheça nossos quartos!</h2>
    <div class="cards-main">
        <div class="card-item">
            <h3>Quarto Padrão</h3>
            <img src="assets/quarto-padrao.jpg" alt="Quarto Padrão" class="pacote-img">
            <p>O Quarto Padrão é a escolha perfeita para quem busca conforto e funcionalidade. Com um design acolhedor e aconchegante, esse quarto oferece todas as comodidades essenciais para uma estadia agradável.</p>
        </div>
        <div class="card-item">
            <h3>Quarto Executivo</h3>
            <img src="assets/quarto-executivo.jpg" alt="Quarto Executivo" class="pacote-img">
            <p>O Quarto Executivo é o epitome do conforto e da sofisticação. Projetado para atender às necessidades dos hóspedes mais exigentes, esse quarto oferece uma experiência premium em todos os aspectos.</p>
        </div>
        <div class="card-item">
            <h3>Quarto de Luxo</h3>
            <img src="assets/quarto-luxo.jpg" alt="QUarto de Luxo" class="pacote-img">
            <p>O Quarto de Luxo é a definição máxima de indulgência e requinte. Projetado para proporcionar uma experiência de hospedagem verdadeiramente extraordinária, esse quarto oferece um ambiente luxuoso e exclusivo.</p>
        </div>
    </div>
</section>

<section class="passeios">
    <hr>
    <h2 class="passeio-text">Conheça nossos passeios!</h2>
    <div class="passeio-main">
        <div class="passeio-item">
            <h3>Passeio Histórico</h3>
            <img src="assets/passeio-historico.jpg" alt="Passeio Histórico" class="passeio-img">
            <p>Explore os marcos históricos e culturais da região, mergulhando na rica herança e na arquitetura encantadora.</p>
        </div>
        <div class="passeio-item">
            <h3>Trilha na natureza</h3>
            <img src="assets/trilha-natureza.jpg" alt="Trilha na natureza" class="passeio-img">
            <p>Desfrute de caminhadas guiadas por trilhas deslumbrantes, explorando paisagens naturais, cachoeiras e fauna local.</p>
        </div>
        <div class="passeio-item">
            <h3>Gastronomia Regional</h3>
            <img src="assets/gastronomia-regional.jpg" alt="Gastronomia Regional" class="passeio-img">
            <p>Descubra os sabores autênticos da região com um passeio que inclui visitas a restaurantes e degustação de pratos tradicionais.</p>
        </div>
        <div class="passeio-item">
            <h3>Passeio de aventura</h3>
            <img src="assets/asseio-aventura.jpg" alt="Passeio de aventura" class="passeio-img">
            <p>Embarque em uma emocionante jornada de aventura, com atividades como rafting, tirolesa, escalada em rocha ou passeios de quadriciclo.</p>
            <br>
        </div>
        <div class="passeio-item">
            <h3>Tour pelos vinhedos</h3>
            <img src="assets/tour-vinhedo.jpg" alt="Tour pelos vinhedos" class="passeio-img">
            <p>Explore os vinhedos da região em um passeio guiado, conhecendo a produção de vinhos locais, degustando diferentes variedades e aprendendo sobre o processo de vinificação.</p>
        </div>
    </div>
</section>

