@import url("./css/main.css");
@import url("./css/responsive.css");
@import "~bootstrap/dist/css/bootstrap.css";
*{
    font-family: 'Merriweather', serif;
    
}
html{
    background-color:antiquewhite;
}
.rounded{
    margin-left: 40rem;
    margin-top: -25rem;
  
   
}