@import "~bootstrap/dist/css/bootstrap.css";
 
  
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
  }
  img{
    margin-left: 50rem;
    margin-top: -30.5rem; 
    width: 45rem;
    height: 35rem;

  }
  
 
