<app-header></app-header>

<section class="login" style="background-image: url('assets/fundocadastro.jpg');">
  <div class="login-form">
      <h2>Cadastro</h2>
      <form>
          <div class="form-group">
              <label for="email">Email:</label>
              <input matInput [(ngModel)]="cadastro.email" id="email" type="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="name">Nome Completo:</label>
            <input matInput [(ngModel)]="cadastro.nome" id="nome" type="nome" name="nome" required>
        </div>
        <div class="form-group">
          <label for="password">CPF:</label>
          <input matInput [(ngModel)]="cadastro.cpf" id="cpf" type="cpf" name="cpf" required>
      </div>
      <div class="form-group">
        <label for="password">Número:</label>
        <input matInput [(ngModel)]="cadastro.numero" id="numero" type="numero" name="numero" required>
    </div>
          <div class="form-group">
              <label for="password">Senha:</label>
              <input matInput [(ngModel)]="cadastro.senha" id="senha" type="senha" name="senha" required>
          </div>


          
          <button (click)="create()" type="submit" class="login-btn">Cadastrar</button>
          <button (click)="cancel()" class="botao" type="submit" class="login-btn">CANCELAR</button>
      </form>
  </div>
</section>