<app-header></app-header>

<section class="login" style="background-image: url('assets/fundocadastro.jpg');">
  <div class="login-form">
      <h2>Cadastro</h2>
      <form>
          <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="name">Nome Completo:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
          <div class="form-group">
              <label for="password">Senha:</label>
              <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="confpassword">Confirmar a Senha:</label>
            <input type="password" id="confpassword" name="confpassword" required>
        </div>
          
          <button type="submit" class="login-btn" routerLink="/">Cadastrar</button>
      </form>
  </div>
</section>