<header>
    <nav class="navigation">
        <a href="/homeUser/{{ usuarioId }}" class="logo"><span>Dream</span>Place</a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/homeUser/{{ usuarioId }}">Home</a></li> 
            <li class="nav-item"><a href="/perfil/{{ usuarioId }}">Perfil</a></li>
            <li class="nav-item"><a href="/reserva/{{ usuarioId }}">Reserva</a></li>
            <li class="nav-item"><a href="/avaliar/{{ usuarioId }}">Avaliar</a></li>
            <li class="nav-item"><a href="/menu">Sair</a></li>
            <li class="nav-item"><a href="/gerenciar/{{ usuarioId }}">Gerenciar</a></li>
            <li class="nav-item"><a href="/ticket/{{ usuarioId }}">Ticket</a></li>
        </ul>
    </nav>
  </header>

   
<p>gerenciar works!</p>
