/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import '~material-icons/iconfont/material-icons.css';

*{
    
    font-family: 'Merriweather', serif;
}
html{
    background-color:antiquewhite;
}

/* Mexer aqui so pra alterar o visual das coisas que vão ser semrpe iguais
Como cor de fundo fonte e tal */ 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
