<header>
    <nav class="navigation">
        <a href="/homeUser/{{ usuarioId }}" class="logo"><span>Dream</span>Place</a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/homeUser/{{ usuarioId }}">Home</a></li> 
            <li class="nav-item"><a href="/perfil/{{ usuarioId }}">Perfil</a></li>
            <li class="nav-item"><a href="/reserva/{{ usuarioId }}">Reserva</a></li>
            <li class="nav-item"><a href="/avaliar/{{ usuarioId }}">Avaliar</a></li>
            <li class="nav-item"><a href="/menu">Sair</a></li>
            <li class="nav-item"><a href="/gerenciar/{{ usuarioId }}">Gerenciar</a></li>
            <li class="nav-item"><a href="/ticket/{{ usuarioId }}">Ticket</a></li>
        </ul>
    </nav>
  </header>

            
        <div class="background-image" style="background-image: url('assets/hotelTop.jpg');"></div>
        <section class="formulario">
            <div class="container">
                <form action="" class="container__form">
        
                    <h1 class="form__titulo">Avaliar</h1>
                    <h2 class="form__subtitulo">Dados do Hóspede:</h2>
        
                    <div class="container__input">
                        <div class="form-group">
                            <label for="nome" class="input__titulo">Nome Completo</label>
                            <input  [(ngModel)]="ticket.nome" name="nome" type="text" id="nome" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="input__titulo">CPF</label>
                            <input [(ngModel)]="ticket.cpf" name="cpf"  type="cpf" id="cpf" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="ticket" class="input__titulo">Ticket</label>
                            <textarea [(ngModel)]="ticket.ticket" name="ticket" rows="4" id="ticket" placeholder="Escreva sua reclamação"></textarea>
                        </div>

                    </div>
        
                    <button  (click)="create()"  type="submit" class="form__button">Enviar</button>
                </form>
            </div>
        </section>
        